@using Form.Areas.LOC_City.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Form.Areas.LOC_City.Models.LOC_CityModel;

<h1>@ViewBag.Data</h1>
<form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="Save">
    <input type="hidden" asp-for="CityID" />
    <table class="table" align="center">
        <tr>
            <td>City Name</td>
            <td>:</td>
            <td><input asp-for="CityName" type="text" placeholder="City Name" /><br /><span class="text-danger" asp-validation-for="CityName"></span></td>
        </tr>
        <tr>
            <td>City Code</td>
            <td>:</td>
            <td><input asp-for="CityCode" type="text" placeholder="City Code" /><br /><span class="text-danger" asp-validation-for="CityCode"></span></td>
        </tr>
        <tr>
            <td>Country Name</td>
            <td>:</td>
            <td>
                <select class=" " asp-for="CountryID" onchange="stateChange()" asp-items="@(new SelectList(Model.CountryDrops,"CountryID","CountryName"))">
                    <option value="none" selected disabled hidden>Select an Option</option>
                </select><br />
                <span class="text-danger" asp-validation-for="CountryID"></span>
            </td>
        </tr>
        <tr>
            <td>State Name</td>
            <td>:</td>
            <td>
                <select class=" "  asp-for="StateID" asp-items="@(new SelectList(Model.StateDrops,"StateID","StateName"))">
                    <option value="none" selected disabled hidden>Select an Option</option>
                    
                </select><br />
                <span class="text-danger" asp-validation-for="StateID"></span>
            </td>
        </tr>
       
    </table>
    <div class="d-flex justify-content-center">
        <input class="btn btn-outline-success " type="submit" />

    </div>
</form>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
       
        function stateChange(StateID) {
            var CountryID = $("#CountryID").val();


            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option selected disabled hidden></option>").val("").html("Select an Option"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry","LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            console.log("result from database to ajax",Result)
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                            if (StateID != null) {
                                $("#StateID").val(StateID)
                            }
                        },
                        error: function (r) {
                            alert("Error while loading combobox.");
                        }
                    });
            } else {
                $("#StateID").empty();
                $("#StateID").append($("<option selected disabled hidden></option>").val("").html("Select an Option"));
            }
        }


        $(document).ready(function () {
            if ($("#CountryID").val() != null) {
                stateChange(parseInt($("#StateID").val()));
            }
        });

    </script>
    }